version: '3.8'
services:
  web-client:
    # build: ./web-client
    image: axelcannit/wildmine-front
    ports:
      - 3000:3000
    command: npm run start
    # volumes:
    #   - ./web-client:/app
    #   - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: 'true'

  api:
    # build: ./server
    image: axelcannit/wildmine-back
    # volumes:
    #   - ./server:/app
    #   - /app/node_modules
      # - /app/build
    ports:
      - 3001:3001
    command: npm run start
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgres://postgres:database_password@database:5432/postgres

  database:
    image: postgres
    environment:
      POSTGRES_PASSWORD: database_password
    volumes:
      - database-volume:/var/lib/postgresql/data

volumes:
  database-volume:
