version: '3.3'
services:
  web-client:
    build: ./web-client
    ports:
      - 3000:3000
    volumes:
      - ./web-client:/app
      - /app/node_modules
    environment:
        CHOKIDAR_USEPOLLING: "true"

  api:
    build: ./server
    volumes:
      - ./server:/app
      - /app/node_modules
    ports:
      - 3001:3001
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgres://postgres:database_password@database:5432/postgres

  database:
    image: postgres
    environment:
      POSTGRES_PASSWORD: database_password
    volumes:
      - database-volume:/var/lib/postgresql/data

volumes:
  database-volume:

