@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './style.css';

@import './components/TopBar.css';
@import './components/Button.css';
@import './components/Input.css';

@import './pages/Projects.css';