.topbar-container {
  @apply flex justify-between fixed w-full top-0 px-4 h-20 pb-4 z-20;
}

.logo-container {
  @apply self-center;
}

.topbar-menu-links-container {
 @apply w-2/3 flex justify-around rounded-b-lg px-12;
}

.topbar-menu-link {
  @apply cursor-pointer px-8 py-1 bg-wildmine_black text-secondary_color border border-secondary_color rounded-full my-auto;
}

.topbar-menu-link:hover {
  @apply bg-secondary_color text-wildmine_black border-wildmine_black;
}

.topbar-menu-link-selected {
  @apply bg-secondary_color text-wildmine_black;
}

.topbar-menu-settings {
  @apply cursor-pointer ml-8 my-auto mr-8;
}